<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Titanic predictor</title>
  </head>
  <body>
    <h1>Predikce míry přežití na Titaniku</h1>
      <a href="{% url 'result' %}">Odkaz na Result</a>
      <p>Zadejte základní informace o osobě na Titaniku</p>
      <form class="" action="{% url 'result' %}">
        {% csrf_token %}
          <p>Pclass</p>
          <input type="text" name="pclass" value="1">
          <p>Sex</p>
          <input type="text" name="sex" value="0">
          <p>Age</p>
          <input type="text" name="age" value="50">
          <p>Sibsp</p>
          <input type="text" name="sibsp" value="1">
          <p>Parents / children</p>
          <input type="text" name="parch" value="1">
          <p>Fare</p>
          <input type="text" name="fare" value="19">
          <p>Embarked</p>
          <input type="text" name="embarked" value="1">
          <p>Title</p>
          <input type="text" name="title" value="1">

          <!-- <input type="text" name="age" value="55"> -->
          <input type="submit" name="tlacitko" value="Odeslat">
      </form>
  </body>
</html>
